header {
    background-image:url("https://scontent.xx.fbcdn.net/v/t1.15752-9/124000561_1275367172829436_4149823861100185071_n.jpg?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=6rwRZ_Ycz-kAX9v2d7u&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=6fce7dd1a5b06c1df97b78ed6fe8a61c&oe=5FCCA111");
    height: 257px;
    width: 1000px;
    background-color:black;
    background-position: center;
    background-size: 100% auto; 
    background-repeat: no-repeat;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: bold;
    color: #D10A11;
    padding-left: 25px;
}

img{
    margin-left: 25px;
}

footer{
    height: 40px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-right: 25x;
    background-color: #992901;
    background-image: url("https://scontent.fkhi10-1.fna.fbcdn.net/v/t1.15752-9/cp0/123965261_1377143812622724_7019671630687694870_n.jpg?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=XXsNnHnLrvIAX-7AEEf&_nc_ht=scontent.fkhi10-1.fna&oh=be0882de1b79c1624ad6416418c87eb7&oe=5FCDFA22");
     padding-left: 720px; 

    color: #fff;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    width: 1000px;
    margin-left: 300px;
}

.button{
    margin-left: 300px;
    float:none;
    width: 1034px;


    
}
    

.col-8 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FF0000;

}

.col-4 h2{
    margin-top: 25px;
    font-style: italic;

    color:#721BD1

}